@import '../../styles/variables.scss';

.thumbnail {
  display: block;
  padding: 2px;
  margin-bottom: 2rem;
  box-shadow: none;
  transition: text-shadow 0.3s, opacity 0.4s;
  opacity: 0;

  p {
    font-size: 90%;
    line-height: 1.4;
    margin-block-start: 1em;
    margin-block-end: 2em; 
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  small {
    font-size: 80%;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.1;
    //margin: 3.5rem 0 .4375rem;
    padding: 0;
    text-rendering: optimizelegibility;
  }
}

.thumbnail.visible {
  opacity: 1;
}
